.swiper-pagination-bullet{
  opacity: 1;
}
.swiper-pagination-bullet::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background-color: white;
  outline-color: white;
}

.swiper-pagination-bullet-active::after {
  background-color:rgb(255, 255, 255); /* Tailwind blue-600 */
}


